*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 248, 249);
}
#logo{
    margin-left: 20px;
    vertical-align: middle;
}
#logo-text{
    vertical-align: middle;
    font-size: 38px;
    font-weight: 900;
}
.centro{
    padding-left: 75px;
    padding-top: 20px;
    background-color: rgb(246, 248, 249);
}
.bottoni{
    background-color: #fff;
    height: 50px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 5px;
    width: 500px;
}
.blu{
    margin-top: 17px;
    margin-left: 30px;
}
.resto{
    background-color: #fff;
    height: 400px;
    margin-left: 30px;
    border-radius: 5px;
    width: 500px;
}

.verde{
    border: 1px solid green;
    border-radius: 50%;
}
.rosso{
    border: 1px solid red;
    border-radius: 50%;
}
.spazio{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}